/*USO UNA FUENTE MAS FINITA PORQUE ME GUSTA MAS*/
@font-face {
    font-family: Raleway Thin;
    src: url("../font/Raleway Thin.otf");
}
/*TODA LA PAGINA VA A TENER ESTE FOMATO*/
* {
	font-family: Raleway Thin;
	text-align: center;
}


/*SEGURO QUE HAY METODO MAS INTELIGENTE DE MANEJAR LAS COSAS RESPONSIVAS. NO SE ME OCURRE OTRA COSA LPM*/
/*si la pantalla es mejnor entra a la condicion*/
/*el mas grande va primero*/
/* Landscape phones and down */
/* ----------- iPad  ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	body h1 {
		font-size: 5em;}

	body h3{
		font-size: 3em;}

}
/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media (min-device-width: 800px) and (max-device-width: 1280px) {
	body h1 {
		font-size: 5em;}

	body h3{
		font-size: 3em;}

}/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	body h1 {
		font-size: 2em;}
	#section4 h1 {
		font-size: 2em;}

	body h3{
		font-size: 1em;}

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 2) { 
	body h1 {
		font-size: 2em;}
	#section4 h1 {
		font-size: 2em;}

	body h3{
		font-size: 1em;}

}



/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen and (min-device-width: 360px) and (max-device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
	body h1 {
		font-size: 2em;}
	#section4 h1 {
		font-size: 2em;}

	body h3{
		font-size: 1em;}

}




/*USE SOLO H1 Y H3 PORQUE LA LETRA ERA TAN FINITA QUE CON <P> NO SE LEIA*/
html,body
{
  height: 100%;
}
body h1 {
	font-size: 4em;
}

body h3{
	font-size: 2em;
	padding-right: 10%;
	padding-left: 10%;
}

img {
    max-width:100%; 
  	max-height:100%;
  	margin:auto;
}



/*PARA DARLE POSICION A EL LOGO*/
.imagenPrincipal{
	color:white;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}
/*EN EL HOME VA A SER MAS GRANDE LA LETRA*/
.imagenPrincipal h1{
	font-size: 11em;
}

.imagenPrincipal h3{
	font-style: italic;
	font-size: 4em;
	padding-right: 0;
	padding-left: 0;
}


/* arme un gradiente del negro y que a medida que cambia de seccion va cambiando el color*/
/* http://www.css3factory.com/linear-gradients/ */
#section2{
	background-color: #FDFFFC;
	color:black;
	

}

#section2 h1{
	text-decoration: underline;
}


#section3{
	background-color: #E71D36;
	text-align: center;
}
/*IGUAL QUE ANTES PERO CAMBIA LAS PROPORCIONES*/


#section4{
	background-color: #FF9F1C	 ;
	color:black;

}




.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.filaCompleta {
    height:100%;
}
.filaMitad {
    height:50%;
}
.centradoTotal{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}



.invisible1{visibility: hidden;}
.invisible2{visibility: hidden;}
.invisible3{visibility: hidden;}


