/*USO UNA FUENTE MAS FINITA PORQUE ME GUSTA MAS*/
@font-face {
    font-family: Raleway Thin;
    src: url("../font/Raleway Thin.otf");
}

*{
	text-align: center;
	color: white;
	font-family: 'Raleway Thin';
}

p{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
}
/* ---- INICIO PARTICULAS  ---- */
/* ---- para que se vea todo bien tiene que tener todo al 100%  ---- */
html,body{ 
	width:100%;
	height:100%;
}



#particles-js{
  	width: 100%;
  	height: 100%;
}


#fullpage{
	width:100%;
	height:100%;

}
#fondo1{
	background-color: #122337 ;
	width:100%;
	height:100%;
}
/* ---- FIN PARTICULAS  ---- */
#fondo1 h1{
	font-size: 6em;
}


#fondo2{
	background-image: url("../img/backgroud3.jpg");
	height: 100%;
	background-size: 100% 100%;
}

#fondo3{
	background-color: #6d45c0 ;
}

#fondo4{
	color: black;
	background-size: 100% 50%;
    background-repeat: no-repeat;
}

#fondo5{
	background-color: #43619d ;
}

.pesoFilaMitad {
    height:50%;
}

.centradoTotal{
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.centradoPrincipal{
	color:white;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
}




/* Retina display */
@media screen and (min-width: 1024px){
    #fondo4{
		background-image: url("../img/fondoMap_1920.png");
	}
}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
    #fondo4{
		background-image: url("../img/fondoMap_1920.png");
	}
}

/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
    #fondo4{
		background-image: url("../img/fondoMap_768.png");
	}
}

/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
	p{
		font-size: 1em;
	}
    #fondo4{
		background-image: url("../img/fondoMap_768.png");
	}
}

/* Mobile LD */
@media screen and (max-width: 350px){
	p{
		font-size: 1em;
	}
    #fondo4{
		background-image: url("../img/fondoMap_480.png");
	}
} 